:root {
    --blue: #4ea0ff;
    --accent: #20a9e5;
    --light: #b1e5f2;
    --yellow: #ffff00;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: auto;

}

main {
    padding: 20px;
    max-width: 1920;
    margin: auto;
}




#header-logo {
    background-color: #4EA0FF;
    height: 100px;

    background-image: url('/img/pattern.png');
    background-repeat: repeat;
    background-size: 400px;
}


#main-logo {
    width: 200px;
    height: auto;
    margin: 50px auto auto auto;
    padding-left: 1rem;

}

#article-author a {
    color: var(--blue);
    text-decoration: none;
}


#article-captions {
    font-size: 0.8em;

}

#article-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;


}

#article-table th {
    background-color: var(--accent);
    font-size: small;
    color: white;
    text-align: left;
    padding: 0px;

}

#article-table td {
    padding: 8px;
    text-align: justify;

}

#article-table table tr:nth-child(odd) {
    background-color: var(--light);
}

#article-images img {
    display: block;
    margin-bottom: 10px;
}

#related-articles img {
    display: block;
    margin-bottom: 10px;
}

/* Immagini degli articoli correlati */
#related-articles {
    display: block;
    gap: 10px;
}

#monitor-image,
#graph-image {
    width: 312px;
    height: 208px;
    position: relative;
}

.related-image-container {
    position: relative;
}

.related-title {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    z-index: 1;
}

* {
    margin: 0%;
}