:root {
    --blue: #4ea0ff;
    --accent: #20a9e5;
    --light: #b1e5f2;
    --yellow: #ffff00;
}


#header-logo {
    background-color: #4EA0FF;
    height: 100px;
    padding: 10px;
    background-image: url('/img/pattern.png');
    background-repeat: repeat;
    background-size: 470px;
}


#main-logo {
    width: 200px;
    height: auto;
    text-align:

}