:root {
    --blue: #4ea0ff;
    --accent: #20a9e5;
    --light: #b1e5f2;
    --yellow: #ffff00;
}


#header-logo {
    padding: 20px 0;
    text-align: left;
    background-color: var(--blue);
    background-image: url(/img/pattern.png);
    background-repeat: repeat;
    position: relative;
    display: flex;
}

#main-logo {
    width: 200px;
    height: auto;
    flex: ;

}